/* Style created by me */

/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Change this to ensure body has at least the full height of the viewport */
  min-height: 100vh; /* This ensures that the body is at least the height of the viewport */
  
}

body::before {
  content: "";
  position: fixed; /* Use fixed to ensure the background covers the viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Cover the full viewport width */
  height: 100vh; /* Cover the full viewport height */
  background-image: url('bgmr.jpg');
  background-size: 100% 100%; /* Stretch the image to cover the specified width and height */
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1;
  
}



/* Nav bar Styles */
.flex-container {
  display: flex;
}

.main-content {
  flex-grow: 1; /* Allows the main content to take up the remaining space */
  margin-left: 300px;
}

/* Nav bar Styles end */


